@model AppCombi.Models.Carro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Carro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="CarroID" />
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asientos" class="control-label"></label>
                <input asp-for="Asientos" class="form-control" />
                <span asp-validation-for="Asientos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaMantenimiento" class="control-label"></label>
                <input asp-for="FechaMantenimiento" class="form-control" />
                <span asp-validation-for="FechaMantenimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
